:root {
    --main_color: #0090f0;
    --hover_color: #035a83;
    --p_color: #7b7b7b;
    --bg_color: #F3F3F3;
    --white_color: #fff;
    --heading_color: #253237;
    --border_color: #d6d6d6d5;
    --yellow_color: #dab914;
    --red: #E74040;
    --red-hover: #920c0c;
}


.category-products .container .top-header {
    padding: 15px 0;
    border-bottom: 1px solid var(--border_color);
}

.category-products .container .top-header h1 {
    color: var(--main_color);
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.category-products .container .top-header p {
    color: var(--p_color);
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    font-style: normal;
    margin-bottom: 15px;
    margin-top: 15px;
    text-transform: capitalize;
    font-weight: bold;
}


.category-products .container .products {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    margin-top: 10px;
}

@media screen and (max-width : 1000px) {
    .category-products .container .products {
        grid-template-columns: repeat(3, 1fr);
        padding: 10px 20px;
    }
}

@media screen and (max-width : 700px) {
    .category-products .container .products {
        grid-template-columns: repeat(2, 1fr);
        padding: 10px 20px;
    }
}

@media screen and (max-width : 500px) {
    .category-products .container .products {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        gap: 10px;
        margin-bottom: 10px;
    }
}