:root {
    --main_color: #0090f0;
    --hover_color: #035a83;
    --p_color: #7b7b7b;
    --bg_color: #F3F3F3;
    --white_color: #fff;
    --heading_color: #253237;
    --border_color: #d6d6d6d5;
    --yellow_color: #eec702;
    --red: #E74040;
    --red-hover: #920c0c;
}

.checkout {
    margin: 50px 0;
}

.checkout .ordersummary {
    width: 45%;
    padding: 0 20px;
    border: 1px solid var(--border_color);
    box-shadow: 0px 8px 10px #c0bfbf44;
    border-radius: 15px;
    margin: 0 auto ;
}

.checkout .ordersummary h1 {
    border-bottom: 1px solid var(--border_color);
    padding: 20px 0;
    margin-bottom: 20px;
    color: var(--main_color);
}

.checkout .items {
    height: 350px;
    overflow-y: auto;
}

.checkout .items .itemcart {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    height: 125px;
    border-bottom: 1px solid var(--border_color);
    padding: 20px;
}

.checkout .items .itemcart:last-child {
    border-bottom: 0;
}

.checkout .items .itemcart .image {
    display: flex;
    align-items: center;
    gap: 20px;
}
.checkout .items .itemcart img {
    width: auto;
    height: 80px;
}

.checkout .items .itemcart h3 {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.checkout .items .itemcart .delete-item {
    background: transparent;
}

.checkout .items .itemcart .delete-item svg {
    font-size: 18px;
    cursor: pointer;
    color: var(--red);
    transition: all 0.3s ease;
}

.checkout .items .itemcart .delete-item svg:hover {
    color: var(--red-hover);
    scale: 1.1;
}

.checkout .items .itemcart .quantity-control {
    display: flex;
    align-items: center;
    margin-top: 5px;
    gap: 5px;
}

.checkout .items .itemcart .quantity-control button {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    background-color: var(--border_color);
}

.checkout .items .itemcart .quantity-control .quantity {
    font-size: 18px;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg_color);
    border: 1.5px solid var(--border_color);
}


.checkout .button-summary {
    border-top: 1px solid var(--border_color);
    padding-top: 25px;
}

.checkout .button-summary .shop-table {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.checkout .button-summary .shop-table p {
    font-size: 18px;
    font-weight: 600;
    color: var(--heading_color);
    margin-right: 10px;
    margin-bottom: 0;
    text-transform: capitalize;
    text-align: right;
}

.checkout .button-summary .shop-table .total-checkout {
    font-size: 20px;
    font-weight: bold;
}

.checkout .button-summary .button-order {
    border-top: 1px solid var(--border_color);
    padding: 20px 0;
}

.checkout .button-summary .button-order button {
    width: 100%;
    height: 50px;
    background-color: var(--main_color);
    color: var(--white_color);
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.checkout .button-summary .button-order button:hover {
    background-color: var(--white_color);
    color: var(--main_color);
    border: 1px solid var(--main_color);
    outline: none;
    scale: 1.05;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
    transform-origin: bottom;
}