:root {
    --main_color: #0090f0;
    --hover_color: #035a83;
    --p_color: #7b7b7b;
    --bg_color: #F3F3F3;
    --white_color: #fff;
    --heading_color: #253237;
    --border_color: #d6d6d6d5;
    --yellow_color: #eec702;
    --red: #E74040;
    --red-hover: #920c0c;
}



.hero {
    position: relative;
    margin-bottom: 80px;
    padding-top: 20px;
}



.swiper-slide .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}

.swiper-slide .content h4 {
    text-transform: uppercase;
    font-size: 1vw;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0.4vw;
}

.swiper-slide .content h3 {
    color: var(--main_color);
    font-size: 3vw;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: bolder;
}

.swiper-slide .content p {
    font-size: 1.1vw;
    margin: 2.5vw 0;
}


.swiper-pagination {
    bottom: 20px !important;
}