:root {
    --main_color: #0090f0;
    --hover_color: #035a83;
    --p_color: #7b7b7b;
    --bg_color: #F3F3F3;
    --white_color: #fff;
    --heading_color: #253237;
    --border_color: #d6d6d6d5;
    --yellow_color: #dab914;
    --red: #E74040;
    --red-hover: #920c0c;
}

.top-slide {
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--border_color);
    padding: 15px 20px 20px 0;
}

.top-slide::after {
    content: "";
    position: absolute;
    bottom: -1px;
    width: 100px;
    height: 2px;
    background-color: var(--main_color);
}

.top-slide h2 {
    font-size: 30px;
    color: var(--main_color);
    text-transform: capitalize;
    font-weight: 900;
    margin-bottom: 10px;
}

/**=============== product ==============*/

.product {
    width: 250px;
    background: var(--white_color);
    padding: 25px 15px;
    border: 1px solid var(--border_color);
    transition: all 0.4s ease-in-out;
    border-radius: 14px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.product:hover {
    border-color: var(--main_color);
    box-shadow: 10px 10px 15px #9494944f;
}

.product:hover .card-icon {
    right: 15px;
}

.product:hover .img-product .sale {
    background-color: var(--red-hover);
}

.product .container .img-product {
    position: relative;
    height: 180px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.product .img-product img {
    height: 160px;
}

.product .img-product .sale {
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: var(--red);
    color: var(--white_color);
    padding: 7px 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.product .name-product {
    margin-bottom: 10px;
    color: var(--heading_color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product .stars {
    display: flex;
    gap: 5px;
    margin: 15px 0;
    font-size: 18px;
    color: var(--yellow_color);
}

.product .price {
    display: flex;
    gap: 15px;
    align-items: center;
}

.product .price .price-now {
    font-size: 20px;
    color: var(--main_color);
    font-weight: bold;
}

.product .price .discount {
    font-size: 15px;
    color: var(--p_color);
    vertical-align: middle;
}

.product .card-icon {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    right: -50px;
    gap: 18px;
    transition: all 0.4s ease;
}

.product .card-icon span {
    width: 30px;
    height: 30px;
    background-color: var(--bg_color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    color: #000;
    font-weight: 800;
}

.product.in-cart .card-icon .btn-cart {
    background-color: var(--main_color);
    pointer-events: none;
}

.product.in-cart .card-icon .btn-cart svg {
    color: var(--white_color);
}

.product .card-icon span.in-fav {
    background-color: var(--main_color);
}

.product .card-icon span.in-fav svg {
    color: var(--white_color);
}

.statecart {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    gap: 6px;
    color: var(--heading_color);
}

.statecart svg {
    color: green;
}

.product.in-cart .statecart {
    top: 10px;
}
