@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main_color: #0090f0;
    --hover_color: #035a83;
    --p_color: #7b7b7b;
    --bg_color: #F3F3F3;
    --white_color: #fff;
    --heading_color: #253237;
    --border_color: #d6d6d6d5;
    --yellow_color: #eec702;
    --red: #E74040;
    --red-hover: #920c0c;
}

body {
    background-color: var(--white_color);
    font-family: "Inter", sans-serif;
    padding-top: 190px;
}

img {
    width: 100%;
}

h1,h2,h3,h4,h5,h6{
    color:var(--heading_color);
    font-family: "DM Sans", sans-serif;
}

span {
    color: var(--main_color);
}

p {
    color: var(--p_color);
}

input , button , select , textarea{
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: var(--heading_color);
}

ul , li {
    list-style-type: none;
}


.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1250px;
    margin: auto;
}

.btn {
    padding: 10px 18px;
    text-transform: capitalize;
    border-radius: 30px;
    font-size: 1rem;
    background-color: var(--main_color);
    color: var(--white_color);
    display: flex;
    gap: 20px;
    align-items: center;
    transition: 0.3s all ease;
    width: max-content;
}


/* Toast Notification CSS */


.toast-popup {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 300px;
}

.toast-popup .toast-img {
    width: auto;
    height: 50px;
    object-fit: cover;
}

.toast-popup .toast-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    min-height: 50px;
    line-height: 1.5rem;
    font-size: 1rem;
    color: var(--heading_color);
    font-family: "DM Sans", sans-serif;
    font-weight: normal;
}


.toast-popup .toast-content strong {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--heading_color);
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}



.toast-popup .toast-content .btn {
    background-color: var(--main_color);
    color: var(--white_color);
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s all ease;
    font-family: "DM Sans", sans-serif;
}

.toast-popup .toast-content .btn:hover {
    background-color: var(--white_color);
    color: var(--main_color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--main_color);
}